.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: white;
  box-shadow: 2px 2px 50px rgb(206, 203, 203);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

.library h2 {
  padding: 2rem;
}

@media (max-width: 768px) {
  .library {
    width: 100%;
  }
}
