.app {
  margin: 3rem auto;
  width: 30rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 2px 8px #00000042;
  border-radius: 10px;
  text-align: center;
}

.app h1 {
  margin: 0;
  text-align: center;
}
